<!DOCTYPE html>
<html>
<head>
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Glow Fitness</title>
    <script src="lib/jquery-1.11.2.min.js"></script>
    <script src="lib/jquery.validate.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script type="text/javascript" src="scripts/common.js"></script>
    <script type="text/javascript" src="scripts/hiitplanner.js"></script>

</head>
<body>
    <div ng-app="myApp" ng-controller="fitnessCtrl" class="container">
        <table class="mainTable">
            <tr align="center" height="15%" ng-show="checker">
                <td>
                    <div>
                        <label class="underlineLabel">HIIT Planner</label>
                    </div>
                </td>
            </tr>
            <tr ng-show="checker">
                <td>
                    <table class="mainTable">
                        <tr>
                            <td colspan="2">
                                Exercise Time :
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="number" ng-model="exerciseTime" placeholder="in minutes" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Repetition :
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="number" ng-model="repetition" placeholder="in whole numbers" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Work to rest Ratio :
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" ng-model="work" placeholder="work" />
                            </td>
                            <td>
                                <input type="number" ng-model="rest" placeholder="rest" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Exercise Frequency :
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <select ng-model="exercise">
                                    <option value="0">Standing Mountain Climbers</option>
                                    <option value="1">Push Ups </option>
                                    <option value="2">Speed Squats </option>
                                    <option value="3">Plank</option>
                                </select>
                            </td>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" height="40%">
                    <button class="sideButton" ng-click="plan()"> Plan </button>
                </td>
            </tr>
            <tr>
                <td align="center" height="10%">
                    <button ng-click="loadFromCloud()"> Load from Cloud </button>
                </td>
                <td align="center" height="10%">
                    <button ng-click="saveToCloud()"> Save to Cloud </button>
                </td>
            </tr>
        </table>
                </td>
            </tr>
            <tr align="center" height="15%" ng-show="!checker">
                <td>
                    <div>
                        <label class="underlineLabel">Result</label>
                    </div>
                </td>
            </tr>
            <tr ng-show="!checker">
                <td>
                    <table class="mainTable">
                        <tr>
                            <td col-span="2">
                                <table width="100%">
                                    <tr>
                                        <td align="center">
                                            Rep
                                        </td>
                                        <td align="center">
                                            Work
                                        </td>
                                        <td align="center">
                                            Rest
                                        </td>
                                    </tr>
                                    <tr ng-repeat="item in reps">
                                        <td align="center">
                                            {{ item.rep }}
                                        </td>
                                        <td align="center">
                                            {{ item.work}} Seconds
                                        </td>
                                        <td align="center">
                                            {{ item.rest }} Seconds
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" height="100%">
                                    <tr>
                                        <td>
                                            Total Exercise Time :
                                        </td>
                                        <td>
                                            <label>{{ totalWorkTime }} Minutes</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total Rest Time :
                                        </td>
                                        <td>
                                            <label>{{ totalRestTime }} Minutes </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total HIIT Time :
                                        </td>
                                        <td>
                                            <label>{{ totalHIITTime }} Minutes</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center" height="70%">
                                            <button class="sideButton" ng-click="back()"> Back </button>
                                        </td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr valign="bottom" height="10%">
                <td>
                    <table>
                        <tr>
                            <td><button ng-click="goTo('profile')">Profile</button></td>
                            <td><button ng-click="goTo('appointment')">Appointment</button></td>
                            <td><button ng-click="goTo('bmichecker')">BMI Checker</button></td>
                            <td><button ng-click="goTo('hiitplanner')">HIIT Planner</button></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    




</body>
</html>
