<!DOCTYPE html>
<html>
<head>
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Glow Fitness Signup</title>
    <script src="lib/jquery-1.11.2.min.js"></script>
    <script src="lib/jquery.validate.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script type="text/javascript" src="scripts/common.js"></script>
    <script type="text/javascript" src="scripts/signup.js"></script>

</head>
<body>
    <div ng-app="myApp" ng-controller="fitnessCtrl" class="container">
        <table class="mainTable">
            <tr class="logoRow">
                <td align="center">
                    <img src="images/mainLogo.jpg"  height="200" width="300">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table class="sideTable">
                        <tr>
                            <td align="center">
                                <input class="mainInput" ng-model="userid" placeholder="Username" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input class="mainInput" ng-model="password" placeholder="Password" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input class="mainInput" ng-model="email" placeholder="Email" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input class="mainInput" ng-model="description" placeholder="Description" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input class="mainInput" ng-model="height" placeholder="height in meters" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input class="mainInput" ng-model="weight" placeholder="weight in kg" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input class="mainInput" ng-model="age" placeholder="age" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <button class="mainButton" ng-click="register()">Register</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </table>
    </div>
    




</body>
</html>
